<header class="contenedor">
  <h1>ENCABEZADO- HEADER DINTEL
  </h1>
</header>

<main class="main">

  <section class="contenedor1">

    <div class="item-enlace">
      <p>enlace 1</p>
    </div>

    <div class="item-enlace">
      <p>enlace 2</p>
    </div>

    <div class="item-enlace">
      <p>enlace 3</p>
    </div>

    <div class="item-enlace">
      <p>enlace 4</p>
    </div>

    <div class="item-enlace">
      <p>enlace 5</p>
    </div>

    <div class="item-enlace">
      <p>enlace 6</p>
    </div>

    <div class="item-enlace custom">

      <p>BANNER 1</p>
    </div>

  </section>


  <section class="contenedor2">
    <h1>AREA DE CONTENIDO</h1>

  </section>

  <section class="contenedor3">

    <div class="item-contenedor copo">
      <p>BANNER 2</p>
    </div>

    <div class="item-contenedor">
      <p>BANNER 3
      </p>
    </div>

  </section>

</main>

<footer>
  <section class="footer">
    <p>PIE DE PAGINA</p>
  </section>

</footer>
